*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.sfondo{
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: rgb(0, 165, 230);
   
}

.logo{
    width: 200px;
    height: 100px;
    margin: 10px;
}

h1{
    font-size: 50px;
}

.contenitore{
    margin: 10px;
}

.color{
    color: gray;
    font-weight: 900;
    
}

#special-color{
    color:	aqua;
    font-weight: 900;

}

.margine{
    margin-top: 20px;
}