*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.sfondo{
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: rgb(0, 165, 230);
   
}

.logo{
    width: 200px;
    height: 100px;
    margin: 10px;
}

h1{
    font-size: 50px;
}

.contenitore{
    margin: 10px;
}

.color{
    color: gray;
    font-weight: 900;
    
}

#special-color{
    color:	aqua;
    font-weight: 900;

}

.margine{
    margin-top: 20px;
}

.colore-paragrafo{
    background-color: yellow;
}

.margine-lista{
    margin-top: 20px;
    margin-left: 15px;
}

#barra-colorata{
    background-color: blue;
    color: white;
}

.dispari{
    background-color: rgb(0, 183, 255);
}

.spazio{
    width: 50%;
}

.foto-monitor{
    margin-top: 20px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

.foto-finale{
    margin-top: 20px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}
.final-color{
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}